@import 'variables';

.container{
    display: flex;
    justify-content: center;
}
#head{
    font-size: 1.5vw;
}

#main-grid {
    display: inline-grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 2vw;
    border: 0.1vw solid black;
}

.small-grid {
    display: inline-grid;
    grid-template-columns: repeat(3,1fr);
    border: 0.05vw solid black;
}

.cell {
    font-family: "Times New Roman", Times, serif;
    height: 4vw;
    width: 4vw;
    border: 0.01vw dashed black;
    font-size: 2vw;
    text-align: center;
    align-content: center;
}

.btn{
    width: 8vw;
    background-color: gray;
    color: white;
    font-size: 1.5vw;
}

select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Safari, Chrome, Opera */
    -webkit-appearance: none;
}

.drop-down {
    border: transparent;
    height: 4vw;
    line-height: 4vw;
    font-size: 2vw;
    width: 4vw;
    background-color: rgb(186, 201, 250);
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    align-content: center;
}